/*https://flatuicolors.com/palette/in*/
body{
    background-color: #2C3A47 !important;
    
}

nav{
    background-color: #242f3a;
}

label {
    color: #ffffff;
}

.github {
    margin-top: 16px;
    color: gray;
    font-size: 50px;
    animation: none;
}

.deconnection {
    margin-top: 16px;
}

.bg-importance-1 {
    background-color: #CAD3C8;
}

.bg-importance-2 {
    background-color:#596275;
}

.bg-importance-3 {
    background-color:#344574;
}

.bg-done {
    background-color: #58B19F;
}

.datepick {
    width:200px;
}

h1 {
    color: blueviolet;
}

.trash {
    font-size: 24px;
    color: rgb(93, 194, 212);
}

.done {
    font-size: 24px;
    color: rgb(124, 206, 124);
}

footer {
    color: white;
}

.gigamargin {
    margin-top: 240px;
}

.connexion {
    width: 260px;
}
