<div class="row row-cols-1 row-cols-md-3 mt-5">
    {% for bases in data.postits %}
    {% for postit in bases %}
    <div class="col mb-4">
        <!-- une carte, on peut en mettre autant qu'on veut sous cette div-->
        <div class="card {% if postit.isDone %}text-white bg-done{%else%}text-dark bg-light{%endif%}" >
            <div class="card-header">{{ postit.toDoDate }}</div>
            <div class="card-body">
            <h5 class="card-title">{{ postit.name }}</h5>
            <p class="card-text">{{ postit.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm">
                                <a class="text-center" href="
                                {% if postit.dataBase=='neo4j' %}
                                {{ url_for('neo4j_remove_post_it', uuid=postit.uuid) }}
                                {% elif postit.dataBase=='mongodb' %}
                                {{ url_for('mongo_remove_post_it', id=postit._id) }}
                                {% endif %}
                                "><i class="far fa-trash-alt trash"></i></a>
                            </div>
                            {% if not postit.isDone %}
                            <div class="col-sm">
                                <a class="text-center" href="
                                {% if postit.dataBase=='neo4j' %}
                                {{ url_for('neo4j_set_done', uuid=postit.uuid) }}
                                {% elif postit.dataBase=='mongodb' %}
                                {{ url_for('mongo_set_done', id=postit._id) }}
                                {% endif %}
                                "><i class="fas fa-clipboard-check done"></i></a>
                            </div>
                            {% endif %}
                    </div>
                    
                </li>
              </ul>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
      
      <div class="col mb-4">
        <div class="card text-white bg-importance-2" >
            <div class="card-header">Importance 2</div>
            <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-white bg-importance-3" >
            <div class="card-header">Importance 3</div>
            <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-white bg-done" >
            <div class="card-header">Done</div>
            <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      </div>
</div>
  