<form method="POST" action="/create">
    <div class="mb-3">
        <label for="name" class="font-weight-bold">Titre : </label>
        <input class="form-control" id="name" aria-describedby="todo-name">
    </div>

    <div class="form-group">
        <label for="description" class="font-weight-bold">Description : </label>
        <textarea class="form-control" id="description" rows="3"></textarea>
      </div>

  <div class="dates mb-3">
    <label for="datapick" class="font-weight-bold">Date du ToDo : </label>
    <input type="text" class="form-control datepick" id="datapick" name="event_date" placeholder="dd-mm-yyyy" autocomplete="off" >
  </div>

    <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text font-weight-bold" for="importance">Importance</label>
          </div>
          <select class="custom-select" id="importance" required>
            <option value="1">Normal</option>
            <option value="2">Important</option>
            <option value="3">Urgent</option>
          </select>
        </div>
      </div>
  
    <div class="mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text font-weight-bold" for="database">Base de données</label>
        </div>
        <select class="custom-select" id="database" required>
          <option value="1">Neo4j</option>
          <option value="2">MongoDB</option>
          <option value="3">Postgres</option>
        </select>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary font-weight-bold">Création</button>
  </form>

  <script>
    $(function() {
    $('.dates #datapick').datepicker({
        'format': 'dd-mm-yyyy',
        'autoclose': true
    });
    });
    </script>